<app-hyrec-pid [status]="hyrecForm.value"></app-hyrec-pid>
<div [formGroup]="hyrecForm">
  <div>
    <mat-form-field>
      <mat-label>ID piezo</mat-label>
      <input matInput formControlName="idPiezo">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>ID strumento</mat-label>
      <input matInput formControlName="idInstrument">
    </mat-form-field>
  </div>
  <div>
    <mat-slide-toggle formControlName="ev1Status">Stato EV1</mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle formControlName="ev2Status">Stato EV2</mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle formControlName="arrowUpStatus">Stato freccia su</mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle formControlName="arrowDownStatus">Stato freccia giù</mat-slide-toggle>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Posizione pompa TF3</mat-label>
      <input matInput type="number" formControlName="tf3Position">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Livello H2O</mat-label>
      <input matInput type="number" formControlName="h2oLevel">
    </mat-form-field>
  </div>
</div>
