:host {
  display: flex;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  app-hyrec-pid {
    flex: 1 1 auto;
  }

  > div {
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 1em;
    height: 100%;
    overflow: auto;

    > div {
      > label, .mat-mdc-radio-button {
        display: block;
      }
    }
  }

  .mat-mdc-slide-toggle {
    margin: 1em 0;
  }
}
