<svg
   viewBox="0 0 1132 804"
   version="1.1"
   id="svg325"
   sodipodi:docname="pid.svg"
   inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
   xml:space="preserve"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><defs
     id="defs245"><rect
       x="140.62726"
       y="538.26297"
       width="125.10977"
       height="30.065139"
       id="rect5952" /><rect
       x="144.50663"
       y="530.50422"
       width="120.26055"
       height="31.034982"
       id="rect5785" /><linearGradient
       y1="0%"
       x2="0%"
       id="lg1"
       x1="0%"
       y2="100%"><stop
         offset="0.00"
         stop-color="#d7d8d9"
         id="stop125" /><stop
         offset="0.20"
         stop-color="#e4e5e6"
         id="stop127" /><stop
         offset="0.40"
         stop-color="#fcfdfe"
         id="stop129" /><stop
         offset="0.60"
         stop-color="#fcfdfe"
         id="stop131" /><stop
         offset="0.80"
         stop-color="#e4e5e6"
         id="stop133" /><stop
         offset="1.00"
         stop-color="#d7d8d9"
         id="stop135" /></linearGradient><linearGradient
       y1="0"
       x2="0"
       id="lg2"
       x1="23.828764"
       y2="0"
       gradientTransform="scale(0.33992531,2.9418227)"
       gradientUnits="userSpaceOnUse"><stop
         offset="0.00"
         stop-color="#99aeb6"
         id="stop138" /><stop
         offset="0.15"
         stop-color="#d2ecf7"
         id="stop140" /><stop
         offset="0.25"
         stop-color="#e6f4fa"
         id="stop142" /><stop
         offset="0.52"
         stop-color="#b5ced7"
         id="stop144" /><stop
         offset="0.69"
         stop-color="#a1b7c0"
         id="stop146" /><stop
         offset="0.80"
         stop-color="#98adb5"
         id="stop148" /><stop
         offset="0.92"
         stop-color="#8fa3ab"
         id="stop150" /><stop
         offset="1.00"
         stop-color="#a5bbc4"
         id="stop152" /></linearGradient><linearGradient
       y1="0%"
       x2="0%"
       id="lg3"
       x1="0%"
       y2="100%"><stop
         offset="0.00"
         stop-color="#99aeb6"
         id="stop155" /><stop
         offset="0.15"
         stop-color="#d2ecf7"
         id="stop157" /><stop
         offset="0.25"
         stop-color="#e6f4fa"
         id="stop159" /><stop
         offset="0.52"
         stop-color="#b5ced7"
         id="stop161" /><stop
         offset="0.69"
         stop-color="#a1b7c0"
         id="stop163" /><stop
         offset="0.80"
         stop-color="#98adb5"
         id="stop165" /><stop
         offset="0.92"
         stop-color="#8fa3ab"
         id="stop167" /><stop
         offset="1.00"
         stop-color="#a5bbc4"
         id="stop169" /></linearGradient><linearGradient
       y1="0"
       x2="0"
       id="lg4"
       x1="50.149776"
       y2="0"
       gradientTransform="scale(0.99701343,1.0029955)"
       gradientUnits="userSpaceOnUse"><stop
         offset="0.00"
         stop-color="#92a6ae"
         id="stop172" /><stop
         offset="0.01"
         stop-color="#daeff8"
         id="stop174" /><stop
         offset="0.02"
         stop-color="#bed8e3"
         id="stop176" /><stop
         offset="0.64"
         stop-color="#bbd5df"
         id="stop178" /><stop
         offset="0.99"
         stop-color="#b7d0da"
         id="stop180" /><stop
         offset="1.00"
         stop-color="#879aa2"
         id="stop182" /></linearGradient><linearGradient
       y1="0%"
       x2="0%"
       id="lg5"
       x1="0%"
       y2="100%"><stop
         offset="0.00"
         stop-color="#7b9aa8"
         id="stop185" /><stop
         offset="0.01"
         stop-color="#c3e2f1"
         id="stop187" /><stop
         offset="0.02"
         stop-color="#a1c9da"
         id="stop189" /><stop
         offset="0.64"
         stop-color="#9ec5d7"
         id="stop191" /><stop
         offset="0.99"
         stop-color="#9bc1d2"
         id="stop193" /><stop
         offset="1.00"
         stop-color="#728f9c"
         id="stop195" /></linearGradient><linearGradient
       y1="0"
       x2="41.133928"
       id="lg6"
       x1="0"
       y2="0"
       gradientTransform="scale(0.43759497,2.2852182)"
       gradientUnits="userSpaceOnUse"><stop
         offset="0.00"
         stop-color="#d7d8d9"
         id="stop198" /><stop
         offset="0.20"
         stop-color="#e4e5e6"
         id="stop200" /><stop
         offset="0.40"
         stop-color="#fcfdfe"
         id="stop202" /><stop
         offset="0.60"
         stop-color="#fcfdfe"
         id="stop204" /><stop
         offset="0.80"
         stop-color="#e4e5e6"
         id="stop206" /><stop
         offset="1.00"
         stop-color="#d7d8d9"
         id="stop208" /></linearGradient><linearGradient
       y1="0%"
       x2="100%"
       id="lg7"
       x1="0%"
       y2="0%"><stop
         offset="0.00"
         stop-color="#9aa1aa"
         id="stop211" /><stop
         offset="0.22"
         stop-color="#aeb5c0"
         id="stop213" /><stop
         offset="0.57"
         stop-color="#dce0e5"
         id="stop215" /><stop
         offset="0.84"
         stop-color="#cacfd7"
         id="stop217" /><stop
         offset="1.00"
         stop-color="#a7afb9"
         id="stop219" /></linearGradient><linearGradient
       y1="0%"
       x2="100%"
       id="lg8"
       x1="0%"
       y2="0%"><stop
         offset="0.00"
         stop-color="#8f969d"
         id="stop222" /><stop
         offset="0.64"
         stop-color="#d3d8de"
         id="stop224" /><stop
         offset="1.00"
         stop-color="#9aa0a8"
         id="stop226" /></linearGradient><linearGradient
       y1="0%"
       x2="100%"
       id="lg9"
       x1="0%"
       y2="0%"><stop
         offset="0.00"
         stop-color="#626974"
         id="stop229" /><stop
         offset="0.66"
         stop-color="#ccd0d5"
         id="stop231" /><stop
         offset="1.00"
         stop-color="#5e6670"
         id="stop233" /></linearGradient><radialGradient
       cx="35"
       fx="35"
       fy="35"
       cy="35"
       gradientUnits="userSpaceOnUse"
       r="49.4"
       id="rg1"><stop
         offset="0.00"
         stop-color="#c7cbd1"
         id="stop236" /><stop
         offset="0.91"
         stop-color="#c4c7cd"
         id="stop238" /><stop
         offset="0.74"
         stop-color="#d4d8dd"
         id="stop240" /><stop
         offset="0.54"
         stop-color="#b6bcc4"
         id="stop242" /></radialGradient><linearGradient
       inkscape:collect="always"
       xlink:href="#lg3"
       id="linearGradient441"
       x1="0"
       y1="0"
       x2="0"
       y2="40.688696"
       gradientTransform="scale(1.1526543,0.86756282)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg3"
       id="linearGradient443"
       x1="0"
       y1="0"
       x2="0"
       y2="40.688696"
       gradientTransform="scale(1.1526543,0.86756282)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg5"
       id="linearGradient445"
       x1="0"
       y1="0"
       x2="0"
       y2="8.660254"
       gradientTransform="scale(5.7735027,0.17320508)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg5"
       id="linearGradient447"
       x1="0"
       y1="0"
       x2="0"
       y2="8.660254"
       gradientTransform="scale(5.7735027,0.17320508)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient667"
       x1="0"
       y1="0"
       x2="0"
       y2="34.467376"
       gradientTransform="scale(1.9148542,0.52223297)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient733"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(1.2707329,0,0,0.52223297,118.0526,0.4402368)"
       x1="0"
       y1="0"
       x2="0"
       y2="34.467376" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient739"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563"
       gradientTransform="scale(0.94280904,1.0606602)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient741"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563"
       gradientTransform="scale(0.94280904,1.0606602)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient743"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563"
       gradientTransform="scale(0.94280904,1.0606602)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient745"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563"
       gradientTransform="scale(0.94280904,1.0606602)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient747"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563"
       gradientTransform="scale(0.94280904,1.0606602)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient749"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563"
       gradientTransform="scale(0.94280904,1.0606602)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient751"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563"
       gradientTransform="scale(0.94280904,1.0606602)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient753"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563"
       gradientTransform="scale(0.94280904,1.0606602)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg7"
       id="linearGradient755"
       x1="0"
       y1="0"
       x2="35.169589"
       y2="0"
       gradientTransform="scale(0.75633525,1.322165)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg8"
       id="linearGradient757"
       x1="0"
       y1="0"
       x2="10.941663"
       y2="0"
       gradientTransform="scale(2.6686984,0.3747145)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg9"
       id="linearGradient759"
       x1="0"
       y1="0"
       x2="6.1294372"
       y2="0"
       gradientTransform="scale(4.7149517,0.21209125)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg7"
       id="linearGradient761"
       x1="0"
       y1="0"
       x2="35.169589"
       y2="0"
       gradientTransform="scale(0.75633525,1.322165)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg8"
       id="linearGradient763"
       x1="0"
       y1="0"
       x2="10.941663"
       y2="0"
       gradientTransform="scale(2.6686984,0.3747145)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg9"
       id="linearGradient765"
       x1="0"
       y1="0"
       x2="6.1294372"
       y2="0"
       gradientTransform="scale(4.7149517,0.21209125)"
       gradientUnits="userSpaceOnUse" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient942"
       gradientUnits="userSpaceOnUse"
       gradientTransform="scale(0.94280904,1.0606602)"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient944"
       gradientUnits="userSpaceOnUse"
       gradientTransform="scale(0.94280904,1.0606602)"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient1964"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(0,3.1700482,-0.29012943,0,311.28859,218.50048)"
       x1="0"
       y1="0"
       x2="0"
       y2="34.467376" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient3023"
       gradientUnits="userSpaceOnUse"
       gradientTransform="scale(0.94280904,1.0606602)"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient3025"
       gradientUnits="userSpaceOnUse"
       gradientTransform="scale(0.94280904,1.0606602)"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient3029"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(2.1604582,0,0,0.52223297,87.386096,0.440928)"
       x1="0"
       y1="0"
       x2="0"
       y2="34.467376" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient3031"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(0,3.1700482,-0.29012943,0,311.28859,218.50048)"
       x1="0"
       y1="0"
       x2="0"
       y2="34.467376" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient3031-2"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(0,6.0194577,0.29012943,0,66.057132,39.061345)"
       x1="0"
       y1="0"
       x2="0"
       y2="34.467377" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient3189"
       gradientUnits="userSpaceOnUse"
       gradientTransform="scale(0.94280904,1.0606602)"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient3191"
       gradientUnits="userSpaceOnUse"
       gradientTransform="scale(0.94280904,1.0606602)"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient3361"
       gradientUnits="userSpaceOnUse"
       gradientTransform="matrix(-4.5157152,0,0,-0.52223297,54.78275,285.6136)"
       x1="0"
       y1="0"
       x2="0"
       y2="34.467376" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient3363"
       gradientUnits="userSpaceOnUse"
       gradientTransform="scale(0.94280904,1.0606602)"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563" /><linearGradient
       inkscape:collect="always"
       xlink:href="#lg1"
       id="linearGradient3365"
       gradientUnits="userSpaceOnUse"
       gradientTransform="scale(0.94280904,1.0606602)"
       x1="0"
       y1="0"
       x2="0"
       y2="16.970563" /></defs><g
     transform="translate(5.5,5.5)"
     id="page1"
     inkscape:label="page1">

       <g
       transform="matrix(0.57877618,0,0,0.57877618,189.54578,146.34136)"
       id="group3"
       inkscape:label="ev1"><rect
         style="fill:{{ev1Color}};stroke-width:1.06091"
         id="rect503"
         width="110.57815"
         height="110.57815"
         x="-11.07307"
         y="-3.519119" /><g
         id="g513"
         transform="matrix(0.95797493,0,0,0.95797493,-0.80881734,-0.06355338)"><path
           d="M 0,0 H 8.1 V 70.1 H 0 Z"
           fill="url(#lg2)"
           transform="translate(42.966709,20.539216)"
           fill-rule="nonzero"
           id="shape4"
           style="fill:url(#lg2)" /><g
           transform="translate(0,72.914749)"
           id="group5"><path
             d="M 46.9,0 V 35.3 L 0,17.7 Z"
             fill="url(#lg3)"
             transform="matrix(-1,0,0,1,46.903744,0)"
             fill-rule="nonzero"
             id="shape6"
             style="fill:url(#linearGradient441)" /><path
             d="M 46.9,0 V 35.3 L 0,17.7 Z"
             fill="url(#lg3)"
             transform="translate(47.096256)"
             fill-rule="nonzero"
             id="shape7"
             style="fill:url(#linearGradient443)" /></g><path
           d="M 2.5,0 H 47.6 C 48.9,0 50,1.1 50,2.5 v 45.3 c 0,1.3 -1.1,2.5 -2.4,2.5 H 2.5 C 1.1,50.3 0,49.1 0,47.8 V 2.5 C 0,1.1 1.1,0 2.5,0 Z"
           fill="url(#lg4)"
           transform="translate(21.984109)"
           fill-rule="nonzero"
           id="shape8"
           style="fill:url(#lg4)" /><path
           d="M 50,0 V 1.5 H 0 V 0 Z"
           fill="url(#lg5)"
           transform="translate(21.980678,9.442106)"
           fill-rule="nonzero"
           id="shape9"
           style="fill:url(#linearGradient445)" /><path
           d="M 50,0 V 1.5 H 0 V 0 Z"
           fill="url(#lg5)"
           transform="translate(21.980678,39.370292)"
           fill-rule="nonzero"
           id="shape10"
           style="fill:url(#linearGradient447)" /></g><text
         xml:space="preserve"
         style="font-size:32.252px;fill:#000000;stroke-width:1.72778"
         x="44.263248"
         y="149.37729"
         id="text2156"><tspan
           sodipodi:role="line"
           id="tspan2154"
           x="44.263248"
           y="149.37729"
           style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:32.252px;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';text-align:center;text-anchor:middle;stroke-width:1.72778">EV-01</tspan></text></g><g
       transform="translate(-164.17294,349.23767)"
       id="group11"><path
         d="M 0,0 H 18 V 94 H 0 Z"
         fill="url(#lg6)"
         fill-rule="nonzero"
         id="shape12"
         style="fill:url(#lg6)" /></g><g
       transform="translate(-113.17294,296.23767)"
       id="group25"><path
         d="M 0,0 H 16 V 18 H 0 Z"
         fill="url(#lg1)"
         transform="translate(29,6)"
         fill-rule="nonzero"
         id="shape26"
         style="fill:url(#linearGradient743)" /><path
         d="M 0,0 H 16 V 18 H 0 Z"
         fill="url(#lg1)"
         transform="rotate(-90,25.5,19.5)"
         fill-rule="nonzero"
         id="shape27"
         style="fill:url(#linearGradient745)" /><g
         transform="translate(4.8,4.8)"
         id="group28"><path
           d="M 30,19.9 V 0 C 29.9,0 18.6,-0.7 8.7,8.8 -0.2,17.3 0,30 0,30 h 20 c 0,-0.2 0.2,-4.9 3,-7.2 3.2,-2.7 7,-2.9 7,-2.9 z"
           fill="#ecedee"
           transform="translate(0.0187)"
           fill-rule="nonzero"
           id="shape29" /><path
           d="M 12.6,2.6 V 0 c 0,0 -5.3,0.3 -8.8,3.7 -4.1,3.8 -3.8,9 -3.8,9 h 2.6 c 0,-0.3 0.3,-4.9 2.8,-7.2 3,-2.6 7.2,-2.9 7.2,-2.9 z"
           fill="#dedfe0"
           transform="translate(17.3759,17.30555)"
           fill-rule="nonzero"
           id="shape30" /><path
           d="M 27.4,2.6 V 0 C 27.4,0 15.6,-0.1 7.8,7.8 -1.1,16.9 0.1,27.4 0.1,27.4 H 2.7 C 2.7,27.1 2.3,16.5 9.7,9.7 17.9,2.2 27.4,2.6 27.4,2.6 Z"
           fill="#e3e4e5"
           transform="translate(2.5258,2.6246)"
           fill-rule="nonzero"
           id="shape31" /><path
           d="M 30,2.6 V 0 C 30,0 19.1,-0.9 8.7,8.7 -0.3,17 0,29.9 0,29.9 H 2.6 C 2.6,29.9 2.4,18 10.4,10.4 19,2.3 30,2.6 30,2.6 Z"
           fill="#dedfe0"
           transform="translate(0,0.0393)"
           fill-rule="nonzero"
           id="shape32" /><path
           d="M 22.2,4.3 V 0 C 22.2,0 13.5,-0.7 6.4,6.4 -0.1,12.9 0,22.2 0,22.2 h 4.4 c 0,0 -0.1,-7.8 4.9,-12.8 5.5,-5.6 12.9,-5.1 12.9,-5.1 z"
           fill="#fcfdfe"
           transform="translate(7.7916,7.784)"
           fill-rule="nonzero"
           id="shape33" /><path
           d="M 24.8,2.6 V 0 C 24.8,0 15.2,-0.5 7,7.1 -0.4,14 0,24.7 0,24.7 H 2.6 C 2.6,24.7 2.5,15.2 9,9 16.4,1.8 24.8,2.6 24.8,2.6 Z"
           fill="#f1f2f2"
           transform="translate(5.1824,5.2387)"
           fill-rule="nonzero"
           id="shape34" /><path
           d="M 17.8,2.6 V 0 C 17.8,0 10,-0.4 5,5 -0.1,10.4 0,17.9 0,17.9 H 2.6 C 2.6,17.9 2.9,11.2 7,7.1 11.4,2.8 17.8,2.6 17.8,2.6 Z"
           fill="#f1f2f2"
           transform="translate(12.15227,12.12648)"
           fill-rule="nonzero"
           id="shape35" /><path
           d="M 15.2,2.6 V 0 C 15.2,0 8.6,0.3 4.4,4.5 0.3,8.7 0,15.3 0,15.3 h 2.6 c 0,0 -0.2,-5.1 3.7,-8.9 3.7,-3.6 8.9,-3.8 8.9,-3.8 z"
           fill="#e3e4e5"
           transform="translate(14.7711,14.71096)"
           fill-rule="nonzero"
           id="shape36" /></g></g><g
       transform="matrix(-1,0,0,1,-53.172939,349.23767)"
       id="group37"><path
         d="M 0,0 H 16 V 18 H 0 Z"
         fill="url(#lg1)"
         transform="translate(29,6)"
         fill-rule="nonzero"
         id="shape38"
         style="fill:url(#linearGradient747)" /><path
         d="M 0,0 H 16 V 18 H 0 Z"
         fill="url(#lg1)"
         transform="rotate(-90,25.5,19.5)"
         fill-rule="nonzero"
         id="shape39"
         style="fill:url(#linearGradient749)" /><g
         transform="translate(4.8,4.8)"
         id="group40"><path
           d="M 30,19.9 V 0 C 29.9,0 18.6,-0.7 8.7,8.8 -0.2,17.3 0,30 0,30 h 20 c 0,-0.2 0.2,-4.9 3,-7.2 3.2,-2.7 7,-2.9 7,-2.9 z"
           fill="#ecedee"
           transform="translate(0.0187)"
           fill-rule="nonzero"
           id="shape41" /><path
           d="M 12.6,2.6 V 0 c 0,0 -5.3,0.3 -8.8,3.7 -4.1,3.8 -3.8,9 -3.8,9 h 2.6 c 0,-0.3 0.3,-4.9 2.8,-7.2 3,-2.6 7.2,-2.9 7.2,-2.9 z"
           fill="#dedfe0"
           transform="translate(17.3759,17.30555)"
           fill-rule="nonzero"
           id="shape42" /><path
           d="M 27.4,2.6 V 0 C 27.4,0 15.6,-0.1 7.8,7.8 -1.1,16.9 0.1,27.4 0.1,27.4 H 2.7 C 2.7,27.1 2.3,16.5 9.7,9.7 17.9,2.2 27.4,2.6 27.4,2.6 Z"
           fill="#e3e4e5"
           transform="translate(2.5258,2.6246)"
           fill-rule="nonzero"
           id="shape43" /><path
           d="M 30,2.6 V 0 C 30,0 19.1,-0.9 8.7,8.7 -0.3,17 0,29.9 0,29.9 H 2.6 C 2.6,29.9 2.4,18 10.4,10.4 19,2.3 30,2.6 30,2.6 Z"
           fill="#dedfe0"
           transform="translate(0,0.0393)"
           fill-rule="nonzero"
           id="shape44" /><path
           d="M 22.2,4.3 V 0 C 22.2,0 13.5,-0.7 6.4,6.4 -0.1,12.9 0,22.2 0,22.2 h 4.4 c 0,0 -0.1,-7.8 4.9,-12.8 5.5,-5.6 12.9,-5.1 12.9,-5.1 z"
           fill="#fcfdfe"
           transform="translate(7.7916,7.784)"
           fill-rule="nonzero"
           id="shape45" /><path
           d="M 24.8,2.6 V 0 C 24.8,0 15.2,-0.5 7,7.1 -0.4,14 0,24.7 0,24.7 H 2.6 C 2.6,24.7 2.5,15.2 9,9 16.4,1.8 24.8,2.6 24.8,2.6 Z"
           fill="#f1f2f2"
           transform="translate(5.1824,5.2387)"
           fill-rule="nonzero"
           id="shape46" /><path
           d="M 17.8,2.6 V 0 C 17.8,0 10,-0.4 5,5 -0.1,10.4 0,17.9 0,17.9 H 2.6 C 2.6,17.9 2.9,11.2 7,7.1 11.4,2.8 17.8,2.6 17.8,2.6 Z"
           fill="#f1f2f2"
           transform="translate(12.15227,12.12648)"
           fill-rule="nonzero"
           id="shape47" /><path
           d="M 15.2,2.6 V 0 C 15.2,0 8.6,0.3 4.4,4.5 0.3,8.7 0,15.3 0,15.3 h 2.6 c 0,0 -0.2,-5.1 3.7,-8.9 3.7,-3.6 8.9,-3.8 8.9,-3.8 z"
           fill="#e3e4e5"
           transform="translate(14.7711,14.71096)"
           fill-rule="nonzero"
           id="shape48" /></g></g><g
       transform="matrix(1,0,0,-1,-125.17294,454.23767)"
       id="group49"><path
         d="M 0,0 H 16 V 18 H 0 Z"
         fill="url(#lg1)"
         transform="translate(29,6)"
         fill-rule="nonzero"
         id="shape50"
         style="fill:url(#linearGradient751)" /><path
         d="M 0,0 H 16 V 18 H 0 Z"
         fill="url(#lg1)"
         transform="rotate(-90,25.5,19.5)"
         fill-rule="nonzero"
         id="shape51"
         style="fill:url(#linearGradient753)" /><g
         transform="translate(4.8,4.8)"
         id="group52"><path
           d="M 30,19.9 V 0 C 29.9,0 18.6,-0.7 8.7,8.8 -0.2,17.3 0,30 0,30 h 20 c 0,-0.2 0.2,-4.9 3,-7.2 3.2,-2.7 7,-2.9 7,-2.9 z"
           fill="#ecedee"
           transform="translate(0.0187)"
           fill-rule="nonzero"
           id="shape53" /><path
           d="M 12.6,2.6 V 0 c 0,0 -5.3,0.3 -8.8,3.7 -4.1,3.8 -3.8,9 -3.8,9 h 2.6 c 0,-0.3 0.3,-4.9 2.8,-7.2 3,-2.6 7.2,-2.9 7.2,-2.9 z"
           fill="#dedfe0"
           transform="translate(17.3759,17.30555)"
           fill-rule="nonzero"
           id="shape54" /><path
           d="M 27.4,2.6 V 0 C 27.4,0 15.6,-0.1 7.8,7.8 -1.1,16.9 0.1,27.4 0.1,27.4 H 2.7 C 2.7,27.1 2.3,16.5 9.7,9.7 17.9,2.2 27.4,2.6 27.4,2.6 Z"
           fill="#e3e4e5"
           transform="translate(2.5258,2.6246)"
           fill-rule="nonzero"
           id="shape55" /><path
           d="M 30,2.6 V 0 C 30,0 19.1,-0.9 8.7,8.7 -0.3,17 0,29.9 0,29.9 H 2.6 C 2.6,29.9 2.4,18 10.4,10.4 19,2.3 30,2.6 30,2.6 Z"
           fill="#dedfe0"
           transform="translate(0,0.0393)"
           fill-rule="nonzero"
           id="shape56" /><path
           d="M 22.2,4.3 V 0 C 22.2,0 13.5,-0.7 6.4,6.4 -0.1,12.9 0,22.2 0,22.2 h 4.4 c 0,0 -0.1,-7.8 4.9,-12.8 5.5,-5.6 12.9,-5.1 12.9,-5.1 z"
           fill="#fcfdfe"
           transform="translate(7.7916,7.784)"
           fill-rule="nonzero"
           id="shape57" /><path
           d="M 24.8,2.6 V 0 C 24.8,0 15.2,-0.5 7,7.1 -0.4,14 0,24.7 0,24.7 H 2.6 C 2.6,24.7 2.5,15.2 9,9 16.4,1.8 24.8,2.6 24.8,2.6 Z"
           fill="#f1f2f2"
           transform="translate(5.1824,5.2387)"
           fill-rule="nonzero"
           id="shape58" /><path
           d="M 17.8,2.6 V 0 C 17.8,0 10,-0.4 5,5 -0.1,10.4 0,17.9 0,17.9 H 2.6 C 2.6,17.9 2.9,11.2 7,7.1 11.4,2.8 17.8,2.6 17.8,2.6 Z"
           fill="#f1f2f2"
           transform="translate(12.15227,12.12648)"
           fill-rule="nonzero"
           id="shape59" /><path
           d="M 15.2,2.6 V 0 C 15.2,0 8.6,0.3 4.4,4.5 0.3,8.7 0,15.3 0,15.3 h 2.6 c 0,0 -0.2,-5.1 3.7,-8.9 3.7,-3.6 8.9,-3.8 8.9,-3.8 z"
           fill="#e3e4e5"
           transform="translate(14.7711,14.71096)"
           fill-rule="nonzero"
           id="shape60" /></g></g><g
       transform="translate(-484.57245,457.44921)"
       id="group61"
       inkscape:label="pompa"><g
         transform="matrix(-1,0,0,1,50.648145,21.237741)"
         id="group62"><path
           d="M 0,0 H 26.6 V 46.5 H 0 Z"
           fill="url(#lg7)"
           transform="matrix(0,-1,-1,0,46.517838,27.666859)"
           fill-rule="nonzero"
           id="shape63"
           style="fill:url(#linearGradient755)" /><path
           d="m 0.9,0 h 27.3 c 0.5,0 1,0.9 1,2.1 v 0 c 0,1.1 -0.5,2 -1,2 H 0.9 C 0.4,4.1 0,3.2 0,2.1 v 0 C 0,0.9 0.4,0 0.9,0 Z"
           fill="url(#lg8)"
           transform="matrix(0,-1,-1,0,50.646943,29.170649)"
           fill-rule="nonzero"
           id="shape64"
           style="fill:url(#linearGradient757)" /><path
           d="m 28.9,0 v 0 c 0,0.7 -0.4,1.3 -0.9,1.3 H 0.9 C 0.4,1.3 0,0.7 0,0 v 0 c 0,0 28.9,0 28.9,0 z"
           fill="url(#lg9)"
           transform="matrix(0,-1,-1,0,47.833581,29.059611)"
           fill-rule="nonzero"
           id="shape65"
           style="fill:url(#linearGradient759)" /><path
           fill-opacity="0.32"
           d="m 0.5,0 h 27.3 c 0.2,0 0.4,0.2 0.4,0.4 v 0 c 0,0.2 -0.2,0.4 -0.4,0.4 H 0.5 C 0.2,0.8 0,0.6 0,0.4 v 0 C 0,0.2 0.2,0 0.5,0 Z"
           fill="#ffffff"
           transform="matrix(0,-1,-1,0,50.412738,28.694818)"
           fill-rule="nonzero"
           id="shape66" /></g><g
         transform="translate(52.781699)"
         id="group67"><path
           d="M 0,0 H 26.6 V 46.5 H 0 Z"
           fill="url(#lg7)"
           transform="matrix(0,-1,-1,0,46.517694,27.679519)"
           fill-rule="nonzero"
           id="shape68"
           style="fill:url(#linearGradient761)" /><path
           d="m 0.9,0 h 27.3 c 0.5,0 1,0.9 1,2.1 v 0 c 0,1.1 -0.5,2 -1,2 H 0.9 C 0.4,4.1 0,3.2 0,2.1 v 0 C 0,0.9 0.4,0 0.9,0 Z"
           fill="url(#lg8)"
           transform="matrix(0,-1,-1,0,50.646677,29.170649)"
           fill-rule="nonzero"
           id="shape69"
           style="fill:url(#linearGradient763)" /><path
           d="m 28.9,0 v 0 c 0,0.7 -0.4,1.3 -0.9,1.3 H 0.9 C 0.4,1.3 0,0.7 0,0 v 0 c 0,0 28.9,0 28.9,0 z"
           fill="url(#lg9)"
           transform="matrix(0,-1,-1,0,47.833337,29.059611)"
           fill-rule="nonzero"
           id="shape70"
           style="fill:url(#linearGradient765)" /><path
           fill-opacity="0.35"
           d="m 0.5,0 h 27.3 c 0.2,0 0.4,0.2 0.4,0.4 v 0 c 0,0.2 -0.2,0.4 -0.4,0.4 H 0.5 C 0.2,0.8 0,0.6 0,0.4 v 0 C 0,0.2 0.2,0 0.5,0 Z"
           fill="#ffffff"
           transform="matrix(0,-1,-1,0,50.412417,28.694818)"
           fill-rule="nonzero"
           id="shape71" /></g><g
         transform="translate(17.825133,0.89335)"
         id="group72"><path
           d="M 0,35 C 0,15.7 15.6,0 34.9,0 c 19.3,0 35,15.7 35,35 0,19.3 -15.7,35 -35,35 C 15.6,70 0,54.3 0,35 Z"
           fill="url(#rg1)"
           transform="matrix(0,-1,-1,0,69.991141,69.859289)"
           fill-rule="nonzero"
           stroke="#d4d6db"
           stroke-width="0.25"
           id="shape73"
           style="fill:url(#rg1)" /><path
           fill-opacity="0.27"
           d="M 0,29.1 C 0,13 13,0 29,0 45.1,0 58.1,13 58.1,29.1 58.1,45.2 45.1,58.2 29,58.2 13,58.2 0,45.2 0,29.1 Z"
           fill="#ffffff"
           transform="matrix(0,-1,-1,0,64.086548,63.959393)"
           fill-rule="nonzero"
           id="shape74" /><path
           fill-opacity="0.13"
           d="M 0,23.5 C -0.2,8.8 11.7,0 11.7,0 l 38.1,43.5 c 0,0 -7.4,9.1 -20.8,9.1 -16,0 -29,-13 -29,-29.1 z"
           fill="#ffffff"
           transform="matrix(0,-1,-1,0,58.437948,63.921878)"
           fill-rule="nonzero"
           id="shape75" /></g><text
         xml:space="preserve"
         style="font-size:34.262px;fill:#000000;stroke-width:2.85517"
         x="422.85977"
         y="590.14465"
         id="text437"
         transform="translate(-390.5,-542.5)"><tspan
           sodipodi:role="line"
           id="tspan435"
           x="422.85977"
           y="590.14465"
           style="stroke-width:2.85517">P1</tspan></text></g><g
       transform="matrix(1,0,0,0.55555556,123.14739,191.96304)"
       id="group1"
       inkscape:label="tubo azzurro 1"
       sodipodi:insensitive="true"><g
         transform="matrix(-0.55954076,0,0,1.0071734,186.03775,-5.7213805)"
         id="group13"><path
           d="M 0,0 H 16 V 18 H 0 Z"
           fill="url(#lg1)"
           transform="translate(29,6)"
           fill-rule="nonzero"
           id="shape14"
           style="fill:url(#linearGradient739)" /><path
           d="M 0,0 H 16 V 18 H 0 Z"
           fill="url(#lg1)"
           transform="rotate(-90,25.5,19.5)"
           fill-rule="nonzero"
           id="shape15"
           style="fill:url(#linearGradient741)" /><g
           transform="translate(4.8,4.8)"
           id="group16"><path
             d="M 30,19.9 V 0 C 29.9,0 18.6,-0.7 8.7,8.8 -0.2,17.3 0,30 0,30 h 20 c 0,-0.2 0.2,-4.9 3,-7.2 3.2,-2.7 7,-2.9 7,-2.9 z"
             fill="#ecedee"
             transform="translate(0.0187)"
             fill-rule="nonzero"
             id="shape17" /><path
             d="M 12.6,2.6 V 0 c 0,0 -5.3,0.3 -8.8,3.7 -4.1,3.8 -3.8,9 -3.8,9 h 2.6 c 0,-0.3 0.3,-4.9 2.8,-7.2 3,-2.6 7.2,-2.9 7.2,-2.9 z"
             fill="#dedfe0"
             transform="translate(17.3759,17.30555)"
             fill-rule="nonzero"
             id="shape18" /><path
             d="M 27.4,2.6 V 0 C 27.4,0 15.6,-0.1 7.8,7.8 -1.1,16.9 0.1,27.4 0.1,27.4 H 2.7 C 2.7,27.1 2.3,16.5 9.7,9.7 17.9,2.2 27.4,2.6 27.4,2.6 Z"
             fill="#e3e4e5"
             transform="translate(2.5258,2.6246)"
             fill-rule="nonzero"
             id="shape19" /><path
             d="M 30,2.6 V 0 C 30,0 19.1,-0.9 8.7,8.7 -0.3,17 0,29.9 0,29.9 H 2.6 C 2.6,29.9 2.4,18 10.4,10.4 19,2.3 30,2.6 30,2.6 Z"
             fill="#dedfe0"
             transform="translate(0,0.0393)"
             fill-rule="nonzero"
             id="shape20" /><path
             d="M 22.2,4.3 V 0 C 22.2,0 13.5,-0.7 6.4,6.4 -0.1,12.9 0,22.2 0,22.2 h 4.4 c 0,0 -0.1,-7.8 4.9,-12.8 5.5,-5.6 12.9,-5.1 12.9,-5.1 z"
             fill="#fcfdfe"
             transform="translate(7.7916,7.784)"
             fill-rule="nonzero"
             id="shape21" /><path
             d="M 24.8,2.6 V 0 C 24.8,0 15.2,-0.5 7,7.1 -0.4,14 0,24.7 0,24.7 H 2.6 C 2.6,24.7 2.5,15.2 9,9 16.4,1.8 24.8,2.6 24.8,2.6 Z"
             fill="#f1f2f2"
             transform="translate(5.1824,5.2387)"
             fill-rule="nonzero"
             id="shape22" /><path
             d="M 17.8,2.6 V 0 C 17.8,0 10,-0.4 5,5 -0.1,10.4 0,17.9 0,17.9 H 2.6 C 2.6,17.9 2.9,11.2 7,7.1 11.4,2.8 17.8,2.6 17.8,2.6 Z"
             fill="#f1f2f2"
             transform="translate(12.15227,12.12648)"
             fill-rule="nonzero"
             id="shape23" /><path
             d="M 15.2,2.6 V 0 C 15.2,0 8.6,0.3 4.4,4.5 0.3,8.7 0,15.3 0,15.3 h 2.6 c 0,0 -0.2,-5.1 3.7,-8.9 3.7,-3.6 8.9,-3.8 8.9,-3.8 z"
             fill="#e3e4e5"
             transform="translate(14.7711,14.71096)"
             fill-rule="nonzero"
             id="shape24" /></g></g><path
         d="M 0,0 H 66 V 18 H 0 Z"
         fill="url(#lg1)"
         fill-rule="nonzero"
         id="shape2"
         style="fill:url(#linearGradient667)" /><path
         d="m 118.05261,0.4402368 h 43.79883 V 18.440237 h -43.79883 z"
         fill="url(#lg1)"
         fill-rule="nonzero"
         id="shape2-7"
         style="fill:url(#linearGradient733);stroke-width:0.814627" /><path
         d="m 311.28859,218.50047 v 109.26324 h -10 V 218.50047 Z"
         fill="url(#lg1)"
         fill-rule="nonzero"
         id="shape2-7-5"
         style="fill:url(#linearGradient1964);stroke-width:0.959021"
         transform="matrix(1,0,0,1.8,-128.64739,-355.32758)" /></g><g
       transform="matrix(-0.55954076,0,0,0.55954078,-213.07557,212.36522)"
       id="group13-2"><path
         d="M 0,0 H 16 V 18 H 0 Z"
         fill="url(#lg1)"
         transform="translate(29,6)"
         fill-rule="nonzero"
         id="shape14-5"
         style="fill:url(#linearGradient942)" /><path
         d="M 0,0 H 16 V 18 H 0 Z"
         fill="url(#lg1)"
         transform="rotate(-90,25.5,19.5)"
         fill-rule="nonzero"
         id="shape15-5"
         style="fill:url(#linearGradient944)" /><g
         transform="translate(4.8,4.8)"
         id="group16-3"><path
           d="M 30,19.9 V 0 C 29.9,0 18.6,-0.7 8.7,8.8 -0.2,17.3 0,30 0,30 h 20 c 0,-0.2 0.2,-4.9 3,-7.2 3.2,-2.7 7,-2.9 7,-2.9 z"
           fill="#ecedee"
           transform="translate(0.0187)"
           fill-rule="nonzero"
           id="shape17-1" /><path
           d="M 12.6,2.6 V 0 c 0,0 -5.3,0.3 -8.8,3.7 -4.1,3.8 -3.8,9 -3.8,9 h 2.6 c 0,-0.3 0.3,-4.9 2.8,-7.2 3,-2.6 7.2,-2.9 7.2,-2.9 z"
           fill="#dedfe0"
           transform="translate(17.3759,17.30555)"
           fill-rule="nonzero"
           id="shape18-8" /><path
           d="M 27.4,2.6 V 0 C 27.4,0 15.6,-0.1 7.8,7.8 -1.1,16.9 0.1,27.4 0.1,27.4 H 2.7 C 2.7,27.1 2.3,16.5 9.7,9.7 17.9,2.2 27.4,2.6 27.4,2.6 Z"
           fill="#e3e4e5"
           transform="translate(2.5258,2.6246)"
           fill-rule="nonzero"
           id="shape19-0" /><path
           d="M 30,2.6 V 0 C 30,0 19.1,-0.9 8.7,8.7 -0.3,17 0,29.9 0,29.9 H 2.6 C 2.6,29.9 2.4,18 10.4,10.4 19,2.3 30,2.6 30,2.6 Z"
           fill="#dedfe0"
           transform="translate(0,0.0393)"
           fill-rule="nonzero"
           id="shape20-6" /><path
           d="M 22.2,4.3 V 0 C 22.2,0 13.5,-0.7 6.4,6.4 -0.1,12.9 0,22.2 0,22.2 h 4.4 c 0,0 -0.1,-7.8 4.9,-12.8 5.5,-5.6 12.9,-5.1 12.9,-5.1 z"
           fill="#fcfdfe"
           transform="translate(7.7916,7.784)"
           fill-rule="nonzero"
           id="shape21-9" /><path
           d="M 24.8,2.6 V 0 C 24.8,0 15.2,-0.5 7,7.1 -0.4,14 0,24.7 0,24.7 H 2.6 C 2.6,24.7 2.5,15.2 9,9 16.4,1.8 24.8,2.6 24.8,2.6 Z"
           fill="#f1f2f2"
           transform="translate(5.1824,5.2387)"
           fill-rule="nonzero"
           id="shape22-6" /><path
           d="M 17.8,2.6 V 0 C 17.8,0 10,-0.4 5,5 -0.1,10.4 0,17.9 0,17.9 H 2.6 C 2.6,17.9 2.9,11.2 7,7.1 11.4,2.8 17.8,2.6 17.8,2.6 Z"
           fill="#f1f2f2"
           transform="translate(12.15227,12.12648)"
           fill-rule="nonzero"
           id="shape23-6" /><path
           d="M 15.2,2.6 V 0 C 15.2,0 8.6,0.3 4.4,4.5 0.3,8.7 0,15.3 0,15.3 h 2.6 c 0,0 -0.2,-5.1 3.7,-8.9 3.7,-3.6 8.9,-3.8 8.9,-3.8 z"
           fill="#e3e4e5"
           transform="translate(14.7711,14.71096)"
           fill-rule="nonzero"
           id="shape24-9" /></g></g><g
       id="g2435"
       inkscape:label="freccia giu"
       transform="translate(2.7e-6,434.10044)"
       sodipodi:insensitive="true"><path
         id="path2431"
         style="fill:{{arrowDownColor}}"
         d="M 93.938032,245.49729 V 144.0012 H 8.2153824 v 101.49609 z m -9.25781,-10.96093 h -67.20703 v -79.57227 h 67.20703 z" /><path
         sodipodi:type="star"
         style="fill:#000000"
         id="path2433"
         inkscape:flatsided="false"
         sodipodi:sides="3"
         sodipodi:cx="55.548397"
         sodipodi:cy="185.84711"
         sodipodi:r1="24.934591"
         sodipodi:r2="12.467295"
         sodipodi:arg1="0.52359878"
         sodipodi:arg2="1.5707963"
         inkscape:rounded="0"
         inkscape:randomized="0"
         d="m 77.142387,198.3144 -21.59399,0 -21.593989,0 10.796995,-18.70094 10.796994,-18.70094 10.796994,18.70094 z"
         transform="matrix(-1.0918717,0,0,-0.87165142,111.72844,361.77152)"
         inkscape:transform-center-y="5.4335767"
         inkscape:transform-center-x="-7.4511415e-06" /><text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';text-align:center;text-anchor:middle;fill:#000000"
         x="51.076706"
         y="266.75571"
         id="text2439"><tspan
           sodipodi:role="line"
           id="tspan2437"
           x="51.076706"
           y="266.75571">DOWN</tspan></text></g><g
       id="g2501"
       inkscape:label="freccia su"
       sodipodi:insensitive="true"><path
         id="path2493"
         style="fill:{{arrowUpColor}}"
         d="M 8.2153818,144.0012 V 245.49729 H 93.938038 V 144.0012 Z m 9.2578132,10.96093 H 84.680226 V 234.5344 H 17.473195 Z" /><path
         sodipodi:type="star"
         style="fill:#000000"
         id="path2495"
         inkscape:flatsided="false"
         sodipodi:sides="3"
         sodipodi:cx="55.548397"
         sodipodi:cy="185.84711"
         sodipodi:r1="24.934591"
         sodipodi:r2="12.467295"
         sodipodi:arg1="0.52359878"
         sodipodi:arg2="1.5707963"
         inkscape:rounded="0"
         inkscape:randomized="0"
         d="m 77.142387,198.3144 -21.59399,0 -21.593989,0 10.796995,-18.70094 10.796994,-18.70094 10.796994,18.70094 z"
         transform="matrix(1.0918717,0,0,0.87165142,-9.5750128,37.783721)"
         inkscape:transform-center-y="-5.4335688" /><text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';text-align:center;text-anchor:middle;fill:#000000"
         x="50.736866"
         y="266.75571"
         id="text2499"><tspan
           sodipodi:role="line"
           id="tspan2497"
           x="50.736866"
           y="266.75571">UP</tspan></text></g><g
       transform="matrix(-1,0,0,0.55555556,490.79183,191.96304)"
       id="g3021"
       inkscape:label="tubo giallo 1"
       sodipodi:insensitive="true"><g
         transform="matrix(-0.55954076,0,0,1.0071734,186.03775,-5.7213805)"
         id="g3013"><path
           d="M 0,0 H 16 V 18 H 0 Z"
           fill="url(#lg1)"
           transform="translate(29,6)"
           fill-rule="nonzero"
           id="path2991"
           style="fill:url(#linearGradient3023)" /><path
           d="M 0,0 H 16 V 18 H 0 Z"
           fill="url(#lg1)"
           transform="rotate(-90,25.5,19.5)"
           fill-rule="nonzero"
           id="path2993"
           style="fill:url(#linearGradient3025)" /><g
           transform="translate(4.8,4.8)"
           id="g3011"><path
             d="M 30,19.9 V 0 C 29.9,0 18.6,-0.7 8.7,8.8 -0.2,17.3 0,30 0,30 h 20 c 0,-0.2 0.2,-4.9 3,-7.2 3.2,-2.7 7,-2.9 7,-2.9 z"
             fill="#ecedee"
             transform="translate(0.0187)"
             fill-rule="nonzero"
             id="path2995" /><path
             d="M 12.6,2.6 V 0 c 0,0 -5.3,0.3 -8.8,3.7 -4.1,3.8 -3.8,9 -3.8,9 h 2.6 c 0,-0.3 0.3,-4.9 2.8,-7.2 3,-2.6 7.2,-2.9 7.2,-2.9 z"
             fill="#dedfe0"
             transform="translate(17.3759,17.30555)"
             fill-rule="nonzero"
             id="path2997" /><path
             d="M 27.4,2.6 V 0 C 27.4,0 15.6,-0.1 7.8,7.8 -1.1,16.9 0.1,27.4 0.1,27.4 H 2.7 C 2.7,27.1 2.3,16.5 9.7,9.7 17.9,2.2 27.4,2.6 27.4,2.6 Z"
             fill="#e3e4e5"
             transform="translate(2.5258,2.6246)"
             fill-rule="nonzero"
             id="path2999" /><path
             d="M 30,2.6 V 0 C 30,0 19.1,-0.9 8.7,8.7 -0.3,17 0,29.9 0,29.9 H 2.6 C 2.6,29.9 2.4,18 10.4,10.4 19,2.3 30,2.6 30,2.6 Z"
             fill="#dedfe0"
             transform="translate(0,0.0393)"
             fill-rule="nonzero"
             id="path3001" /><path
             d="M 22.2,4.3 V 0 C 22.2,0 13.5,-0.7 6.4,6.4 -0.1,12.9 0,22.2 0,22.2 h 4.4 c 0,0 -0.1,-7.8 4.9,-12.8 5.5,-5.6 12.9,-5.1 12.9,-5.1 z"
             fill="#fcfdfe"
             transform="translate(7.7916,7.784)"
             fill-rule="nonzero"
             id="path3003" /><path
             d="M 24.8,2.6 V 0 C 24.8,0 15.2,-0.5 7,7.1 -0.4,14 0,24.7 0,24.7 H 2.6 C 2.6,24.7 2.5,15.2 9,9 16.4,1.8 24.8,2.6 24.8,2.6 Z"
             fill="#f1f2f2"
             transform="translate(5.1824,5.2387)"
             fill-rule="nonzero"
             id="path3005" /><path
             d="M 17.8,2.6 V 0 C 17.8,0 10,-0.4 5,5 -0.1,10.4 0,17.9 0,17.9 H 2.6 C 2.6,17.9 2.9,11.2 7,7.1 11.4,2.8 17.8,2.6 17.8,2.6 Z"
             fill="#f1f2f2"
             transform="translate(12.15227,12.12648)"
             fill-rule="nonzero"
             id="path3007" /><path
             d="M 15.2,2.6 V 0 C 15.2,0 8.6,0.3 4.4,4.5 0.3,8.7 0,15.3 0,15.3 h 2.6 c 0,0 -0.2,-5.1 3.7,-8.9 3.7,-3.6 8.9,-3.8 8.9,-3.8 z"
             fill="#e3e4e5"
             transform="translate(14.7711,14.71096)"
             fill-rule="nonzero"
             id="path3009" /></g></g><path
         d="m 87.386113,0.440928 h 74.465327 v 18 H 87.386113 Z"
         fill="url(#lg1)"
         fill-rule="nonzero"
         id="path3017"
         style="fill:url(#linearGradient3029);stroke-width:1.0622" /><path
         d="m 311.28859,218.50047 v 109.26324 h -10 V 218.50047 Z"
         fill="url(#lg1)"
         fill-rule="nonzero"
         id="path3019"
         style="fill:url(#linearGradient3031);stroke-width:0.959021"
         transform="matrix(1,0,0,1.8,-128.64739,-355.32758)" /><g
         transform="matrix(0.55954076,0,0,1.0071734,62.660582,-5.7213805)"
         id="g3013-9"><path
           d="M 0,0 H 16 V 18 H 0 Z"
           fill="url(#lg1)"
           transform="translate(29,6)"
           fill-rule="nonzero"
           id="path2991-3"
           style="fill:url(#linearGradient3189)" /><path
           d="M 0,0 H 16 V 18 H 0 Z"
           fill="url(#lg1)"
           transform="rotate(-90,25.5,19.5)"
           fill-rule="nonzero"
           id="path2993-6"
           style="fill:url(#linearGradient3191)" /><g
           transform="translate(4.8,4.8)"
           id="g3011-8"><path
             d="M 30,19.9 V 0 C 29.9,0 18.6,-0.7 8.7,8.8 -0.2,17.3 0,30 0,30 h 20 c 0,-0.2 0.2,-4.9 3,-7.2 3.2,-2.7 7,-2.9 7,-2.9 z"
             fill="#ecedee"
             transform="translate(0.0187)"
             fill-rule="nonzero"
             id="path2995-8" /><path
             d="M 12.6,2.6 V 0 c 0,0 -5.3,0.3 -8.8,3.7 -4.1,3.8 -3.8,9 -3.8,9 h 2.6 c 0,-0.3 0.3,-4.9 2.8,-7.2 3,-2.6 7.2,-2.9 7.2,-2.9 z"
             fill="#dedfe0"
             transform="translate(17.3759,17.30555)"
             fill-rule="nonzero"
             id="path2997-0" /><path
             d="M 27.4,2.6 V 0 C 27.4,0 15.6,-0.1 7.8,7.8 -1.1,16.9 0.1,27.4 0.1,27.4 H 2.7 C 2.7,27.1 2.3,16.5 9.7,9.7 17.9,2.2 27.4,2.6 27.4,2.6 Z"
             fill="#e3e4e5"
             transform="translate(2.5258,2.6246)"
             fill-rule="nonzero"
             id="path2999-4" /><path
             d="M 30,2.6 V 0 C 30,0 19.1,-0.9 8.7,8.7 -0.3,17 0,29.9 0,29.9 H 2.6 C 2.6,29.9 2.4,18 10.4,10.4 19,2.3 30,2.6 30,2.6 Z"
             fill="#dedfe0"
             transform="translate(0,0.0393)"
             fill-rule="nonzero"
             id="path3001-9" /><path
             d="M 22.2,4.3 V 0 C 22.2,0 13.5,-0.7 6.4,6.4 -0.1,12.9 0,22.2 0,22.2 h 4.4 c 0,0 -0.1,-7.8 4.9,-12.8 5.5,-5.6 12.9,-5.1 12.9,-5.1 z"
             fill="#fcfdfe"
             transform="translate(7.7916,7.784)"
             fill-rule="nonzero"
             id="path3003-9" /><path
             d="M 24.8,2.6 V 0 C 24.8,0 15.2,-0.5 7,7.1 -0.4,14 0,24.7 0,24.7 H 2.6 C 2.6,24.7 2.5,15.2 9,9 16.4,1.8 24.8,2.6 24.8,2.6 Z"
             fill="#f1f2f2"
             transform="translate(5.1824,5.2387)"
             fill-rule="nonzero"
             id="path3005-2" /><path
             d="M 17.8,2.6 V 0 C 17.8,0 10,-0.4 5,5 -0.1,10.4 0,17.9 0,17.9 H 2.6 C 2.6,17.9 2.9,11.2 7,7.1 11.4,2.8 17.8,2.6 17.8,2.6 Z"
             fill="#f1f2f2"
             transform="translate(12.15227,12.12648)"
             fill-rule="nonzero"
             id="path3007-3" /><path
             d="M 15.2,2.6 V 0 C 15.2,0 8.6,0.3 4.4,4.5 0.3,8.7 0,15.3 0,15.3 h 2.6 c 0,0 -0.2,-5.1 3.7,-8.9 3.7,-3.6 8.9,-3.8 8.9,-3.8 z"
             fill="#e3e4e5"
             transform="translate(14.7711,14.71096)"
             fill-rule="nonzero"
             id="path3009-0" /></g></g><path
         d="M 54.782713,285.6136 H -100.86214 v -18 H 54.782713 Z"
         fill="url(#lg1)"
         fill-rule="nonzero"
         id="path3017-3"
         style="fill:url(#linearGradient3361);stroke-width:1.53567" /><g
         transform="matrix(-0.55954076,0,0,-1.0071734,79.508245,291.77591)"
         id="g3013-9-1"><path
           d="M 0,0 H 16 V 18 H 0 Z"
           fill="url(#lg1)"
           transform="translate(29,6)"
           fill-rule="nonzero"
           id="path2991-3-0"
           style="fill:url(#linearGradient3363)" /><path
           d="M 0,0 H 16 V 18 H 0 Z"
           fill="url(#lg1)"
           transform="rotate(-90,25.5,19.5)"
           fill-rule="nonzero"
           id="path2993-6-3"
           style="fill:url(#linearGradient3365)" /><g
           transform="translate(4.8,4.8)"
           id="g3011-8-5"><path
             d="M 30,19.9 V 0 C 29.9,0 18.6,-0.7 8.7,8.8 -0.2,17.3 0,30 0,30 h 20 c 0,-0.2 0.2,-4.9 3,-7.2 3.2,-2.7 7,-2.9 7,-2.9 z"
             fill="#ecedee"
             transform="translate(0.0187)"
             fill-rule="nonzero"
             id="path2995-8-0" /><path
             d="M 12.6,2.6 V 0 c 0,0 -5.3,0.3 -8.8,3.7 -4.1,3.8 -3.8,9 -3.8,9 h 2.6 c 0,-0.3 0.3,-4.9 2.8,-7.2 3,-2.6 7.2,-2.9 7.2,-2.9 z"
             fill="#dedfe0"
             transform="translate(17.3759,17.30555)"
             fill-rule="nonzero"
             id="path2997-0-0" /><path
             d="M 27.4,2.6 V 0 C 27.4,0 15.6,-0.1 7.8,7.8 -1.1,16.9 0.1,27.4 0.1,27.4 H 2.7 C 2.7,27.1 2.3,16.5 9.7,9.7 17.9,2.2 27.4,2.6 27.4,2.6 Z"
             fill="#e3e4e5"
             transform="translate(2.5258,2.6246)"
             fill-rule="nonzero"
             id="path2999-4-5" /><path
             d="M 30,2.6 V 0 C 30,0 19.1,-0.9 8.7,8.7 -0.3,17 0,29.9 0,29.9 H 2.6 C 2.6,29.9 2.4,18 10.4,10.4 19,2.3 30,2.6 30,2.6 Z"
             fill="#dedfe0"
             transform="translate(0,0.0393)"
             fill-rule="nonzero"
             id="path3001-9-6" /><path
             d="M 22.2,4.3 V 0 C 22.2,0 13.5,-0.7 6.4,6.4 -0.1,12.9 0,22.2 0,22.2 h 4.4 c 0,0 -0.1,-7.8 4.9,-12.8 5.5,-5.6 12.9,-5.1 12.9,-5.1 z"
             fill="#fcfdfe"
             transform="translate(7.7916,7.784)"
             fill-rule="nonzero"
             id="path3003-9-3" /><path
             d="M 24.8,2.6 V 0 C 24.8,0 15.2,-0.5 7,7.1 -0.4,14 0,24.7 0,24.7 H 2.6 C 2.6,24.7 2.5,15.2 9,9 16.4,1.8 24.8,2.6 24.8,2.6 Z"
             fill="#f1f2f2"
             transform="translate(5.1824,5.2387)"
             fill-rule="nonzero"
             id="path3005-2-3" /><path
             d="M 17.8,2.6 V 0 C 17.8,0 10,-0.4 5,5 -0.1,10.4 0,17.9 0,17.9 H 2.6 C 2.6,17.9 2.9,11.2 7,7.1 11.4,2.8 17.8,2.6 17.8,2.6 Z"
             fill="#f1f2f2"
             transform="translate(12.15227,12.12648)"
             fill-rule="nonzero"
             id="path3007-3-4" /><path
             d="M 15.2,2.6 V 0 C 15.2,0 8.6,0.3 4.4,4.5 0.3,8.7 0,15.3 0,15.3 h 2.6 c 0,0 -0.2,-5.1 3.7,-8.9 3.7,-3.6 8.9,-3.8 8.9,-3.8 z"
             fill="#e3e4e5"
             transform="translate(14.7711,14.71096)"
             fill-rule="nonzero"
             id="path3009-0-1" /></g></g><path
         d="M 66.057132,39.061327 V 246.53624 H 76.057136 V 39.061327 Z"
         fill="url(#lg1)"
         fill-rule="nonzero"
         id="path3019-0"
         style="fill:url(#linearGradient3031-2);stroke-width:1.32152" /></g><g
       id="g3657"
       inkscape:label="posizione pompa"
       transform="translate(0,0.68579102)"><rect
         style="fill:#58575f;fill-opacity:1;stroke-width:0.999999"
         id="rect3629"
         width="145.47647"
         height="52.371532"
         x="126.39867"
         y="513.85101"
         ry="10"
         rx="10" /><rect
         style="fill:#ffffff;fill-opacity:1;stroke-width:0.84457"
         id="rect3629-3"
         width="133.41647"
         height="40.733414"
         x="132.42867"
         y="519.6701"
         ry="7.7777781"
         rx="9.1710014" /><text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1"
         x="198.17746"
         y="546.55511"
         id="text7545"><tspan
           sodipodi:role="line"
           id="tspan7543"
           x="198.17746"
           y="546.55511">{{ tf3Position }}</tspan></text><text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1"
         x="198.91359"
         y="479.34836"
         id="text7549"><tspan
           sodipodi:role="line"
           id="tspan7547"
           x="198.91359"
           y="479.34836">Posizione</tspan><tspan
           sodipodi:role="line"
           x="198.91359"
           y="502.68173"
           id="tspan7551">Pompa TF3</tspan></text></g><g
       id="g7826"
       inkscape:label="livello h2o"
       transform="translate(217.39311)"><rect
         style="fill:#4b25df;fill-opacity:1;stroke-width:0.999999"
         id="rect7812"
         width="145.47647"
         height="52.371532"
         x="127.77023"
         y="514.5368"
         ry="10"
         rx="10" /><rect
         style="fill:#ffffff;fill-opacity:1;stroke-width:0.84457"
         id="rect7814"
         width="133.41647"
         height="40.733414"
         x="133.80023"
         y="520.3559"
         ry="7.7777781"
         rx="9.1710014" /><text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1"
         x="199.54903"
         y="547.24091"
         id="text7818"><tspan
           sodipodi:role="line"
           id="tspan7816"
           x="199.54903"
           y="547.24091">{{ h2oLevel }}</tspan></text><text
         xml:space="preserve"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:18.6667px;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';text-align:center;text-anchor:middle;fill:#000000;fill-opacity:1"
         x="200.28514"
         y="480.03412"
         id="text7824"><tspan
           sodipodi:role="line"
           id="tspan7820"
           x="200.28514"
           y="480.03412" /><tspan
           sodipodi:role="line"
           x="200.28514"
           y="503.36752"
           id="tspan7822">Livello H2O</tspan></text></g></g></svg>
